<form class="filters" (ngSubmit)="searchStatistics()">
  <div class="filter-item">
    <label for="region">Region</label>
    <select id="region" name="region" multiple [(ngModel)]="selectedRegionIds">
      @for (region of regions; track region.id){
        <option [ngValue]="region.id">
          {{region.name}}
        </option>
      }
    </select>
  </div>
  <div class="filter-item">
    <label for="yearFrom">Year From</label>
    <input type="number" id="yearFrom" name="yearFrom" placeholder="Year From" [(ngModel)]="yearFrom">
  </div>
  <div class="filter-item">
    <label for="yearTo">Year To</label>
    <input type="number" id="yearTo" name="yearTo" placeholder="Year To" [(ngModel)]="yearTo">
  </div>
  <button type="submit">
    Search
  </button>
  <button type="button" (click)="clearFilters()">
    Clear
  </button>
</form>
<table>
  <thead>
    <tr>
      <th>Continent Name</th>
      <th>Region Name</th>
      <th>Country Name</th>
      <th>Year</th>
      <th>Population</th>
      <th>Gdp</th>
    </tr>
  </thead>
  <tbody>
    @for (statisticEl of statistics; track statisticEl.id){
      <tr>
        <td>{{statisticEl.continent_name}}</td>
        <td>{{statisticEl.region_name}}</td>
        <td>{{statisticEl.country_name}}</td>
        <td>{{statisticEl.year}}</td>
        <td>{{statisticEl.population}}</td>
        <td>{{statisticEl.gdp}}</td>
      </tr>
    }
  </tbody>
</table>
