<section aria-labelledby="countries-title">
  <header>
    <h1 id="countries-title">Countries</h1>
  </header>

  <table>
    <caption>
      Country details
    </caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Area</th>
        <th scope="col">Country Code</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.id) {
        <tr>
          <th scope="row">
            <a [routerLink]="['/countries', country.id, 'languages']">{{ country.name }}</a>
          </th>
          <td>{{ country.area }}</td>
          <td>{{ country.countryCode2 }}</td>
        </tr>
      }
    </tbody>
  </table>
</section>
