@if (pageInfo) {
  <div class="pages-container">
    @if (pages.length) {
      <div class="pages">
        @if (pageInfo.page > 1) {
          <div class="page-navigation__left" (click)="navigateToPreviousPage()">&laquo;</div>
        }

        @for (page of pages; track $index) {
          @if (page === 'dots') {
            <div class="page-ellipsis">&hellip;</div>
          } @else {
            <div class="page" [class.active-page]="pageInfo.page === page" (click)="navigateToPage(page)">{{ page }}</div>
          }
        }

        @if (pageInfo.page !== pageInfo.totalPages) {
          <div class="page-navigation__right" (click)="navigateToNextPage()">&raquo;</div>
        }
      </div>
    }

    <div class="page-size-container">
      <label for="page-size">Rows per page:</label>
      <select name="page-size" id="page-size" [value]="pageInfo.size" (change)="onChange($event)">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>
}
