@if (pageInfo) {
  <div class="pages-container">
    @if (visiblePages.length) {
      <div class="pages">
        @if (pageInfo.page > 1) {
          <div class="page-navigation__left" (click)="navigateToPreviousPage()">&laquo;</div>
        }

        @if (showLeadingEllipsis) {
          <div class="page" [class.active-page]="pageInfo.page === 1" (click)="navigateToPage(1)">1</div>
          <div class="page-ellipsis">&hellip;</div>
        }

        @for (page of visiblePages; track page) {
          <div class="page" [class.active-page]="pageInfo.page === page" (click)="navigateToPage(page)">{{ page }}</div>
        }

        @if (showTrailingEllipsis) {
          <div class="page-ellipsis">&hellip;</div>
          <div class="page" [class.active-page]="pageInfo.page === pageInfo.totalPages" (click)="navigateToPage(pageInfo.totalPages)">
            {{ pageInfo.totalPages }}
          </div>
        }

        @if (pageInfo.page !== pageInfo.totalPages) {
          <div class="page-navigation__right" (click)="navigateToNextPage()">&raquo;</div>
        }
      </div>
    }

    <div class="page-size-container">
      <label for="page-size">Rows per page:</label>
      <select name="page-size" id="page-size" [value]="pageRequest.size" (change)="onChange($event)">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
    </div>
  </div>
}
